ConnectionStrings__DefaultConnection='Server=YOUR_HOST;Database=BinMaps;User Id=YOUR_USER;Password=YOUR_PASSWORD;TrustServerCertificate=true;Trusted_Connection=False;'
Jwt__Key=REPLACE_WITH_A_LONG_RANDOM_SECRET_AT_LEAST_32_CHARS
Jwt__Issuer=BinMapsAPI
Jwt__Audience=BinMapsClient
MAPBOX_TOKEN=YOUR_MAPBOX_TOKEN_HERE
ExternalAPIs__TomTom__ApiKey=YOUR_TOMTOM_API_KEY
AllowedOrigins=http://localhost:4300
ALLOWED_ORIGINS=http://localhost:4300
