.dashboard{
  padding:30px;
  background:#0f111a;
  min-height:100vh;
  color:white;
  font-family: 'Segoe UI', sans-serif;
}

.kpi-row{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
  margin-bottom:40px;
}

.kpi{
  padding:25px;
  border-radius:16px;
  text-align:center;
  background:#1c1f2e;
  transition:0.4s;
  position:relative;
  overflow:hidden;
}

.kpi span{
  font-size:34px;
  font-weight:bold;
}

.glow::before{
  content:"";
  position:absolute;
  inset:0;
  background:linear-gradient(120deg,transparent,rgba(0,255,255,0.3),transparent);
  opacity:0;
  transition:0.4s;
}

.glow:hover::before{
  opacity:1;
}

.success{
  box-shadow:0 0 20px #00ff88aa;
}

.money{
  box-shadow:0 0 20px #ffd700aa;
}

.chart-row{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:30px;
}

.chart-card{
  background:#1c1f2e;
  padding:20px;
  border-radius:16px;
  height:350px;
  box-shadow:0 0 25px rgba(0,0,0,0.6);
}

.gauge canvas{
  transform:rotate(-90deg);
}
